<form [formGroup]="formulario">
    <!-- NOME -->
    @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O Campo nome é obrigatório!</p>
    }
    @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O Campo nome precisa de pelo menos 3 caracteres!</p>
    }
    <input type="text" formControlName="nome" placeholder="nome..." class="form-control">
    
    <!-- IDADE -->
    @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched) {
        <p class="alert alert-warning">O Campo idade é obrigatório!</p>
    }
    @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched) {
        <p class="alert alert-warning">O Campo idade não pode ser menor que 0(zero)!</p>
    }
    @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched) {
        <p class="alert alert-warning">O Campo idade não pode ser menor que 120(cento e vinte)!</p>
    }
    <input type="number" formControlName="idade" placeholder="idade..." class="form-control">
    
    <!-- CIDADE -->
    @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O Campo cidade é obrigatório!</p>
    }
    @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O Campo cidade precisa de pelo menos 3 caracteres!</p>
    }
    <input type="text" formControlName="cidade" placeholder="cidade..." class="form-control">

    @if (btnCadastrar) {
        <input type="button" value="Cadastrar" (click)="cadastrar()"class="btn btn-primary" [disabled]="formulario.get('nome').hasError('required')||formulario.get('nome').hasError('minlength')||formulario.get('idade').hasError('required')||formulario.get('idade').hasError('min')||formulario.get('idade').hasError('max')||formulario.get('cidade').hasError('required')||formulario.get('cidade').hasError('minlength')">
    }@else {
        <input type="button" value="Altera" (click)="alterar()" class="btn btn-primary" [disabled]="formulario.get('nome').hasError('required')||formulario.get('nome').hasError('minlength')||formulario.get('idade').hasError('required')||formulario.get('idade').hasError('min')||formulario.get('idade').hasError('max')||formulario.get('cidade').hasError('required')||formulario.get('cidade').hasError('minlength')">
        <input type="button" value="Remover" (click)="remover()" class="btn btn-primary">
        <input type="button" value="Cancelar" (click)="cancelar()" class="btn btn-primary">
    }
</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <td>{{indice + 1}}</td>
            <td>{{v.nome}}</td>
            <td>{{v.idade}}</td>
            <td>{{v.cidade}}</td>
            <td><button (click)="selecionar(indice)" class="btn btn-primary">GET</button></td>
        </tr>
    </tbody>
</table>